*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    color: #FFF;
    background: #ebf2f3;
}

body, input, button, textarea{
    /*Tipo da fonte, tamanho, qual fonte e o estilo*/
    font: 600 18px Nunito, sans-serif;
}